{% extends 'Club Page.html' %}
{% block body %}
<style>
    .head
    {
        padding-left: 490px;
        font-weight: bolder;
        font-size: larger;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
</style>
<form method="POST" class="banner_form">
{% csrf_token %}	
<label class="head">VIEW ALL RIDERS</label>	
<table class="customers">
    <tr>
        <th>Customer</th>
        <th>Gender</th>
        <th>Address</th>
        <th>District</th>
        <th>Email Id</th>        
        <th>Phone</th>

</tr>
{% for d in data %}
<tr>
    <td>{{d.6}}</td>
    <td>{{d.8}}</td>
    <td>{{d.7}}</td>
    <td>{{d.10}}</td>
    <td>{{d.11}}</td>
    <td>{{d.12}}</td>
</tr>
{% endfor %}
</table>
</form>
{% endblock %}